<div class="main">
  <div class="test">
    <div class="d-flex " (click)="go();">
      <ion-icon name="home-outline"></ion-icon>
    </div>
  </div>
  <!-- <div class="flex"> -->
  <swiper-container [slidesPerView]="3" [loop]="true" effect="flip">
    <swiper-slide><img class="image" src="assets/woman.png" /></swiper-slide>
    <swiper-slide><img class="image" src="assets/woman.png" /></swiper-slide>
    <swiper-slide><img class="image" src="assets/woman.png" /></swiper-slide>
  </swiper-container>

  <!-- </div> -->
</div>
<div class="second">
  <div class="main-text">
    <p class="heading"> Add a flower
      To favorites</p>
  </div>
  <div class="main-texts">
    <p class="heading1">So that you do not lose
      a new friend for home</p>
  </div>
</div>